.nav {
    display: flex;
    justify-content: center;



    padding: 10px;
}

.a {
    color: black;
}

.nav-item {
    margin-right: 10px;
    text-decoration: none;
}

.nav-item:hover {
    color: #000;
    text-decoration: underline;

}